body{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header-container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}   

header{
    padding-top: 1.25em;
    min-height: 4.375em;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    cursor: pointer;
    display: inline;
    padding: 0.625em 0.625em 0.6875em 0.625em;
    color: gray;
    z-index: 9;
}

#home:hover{
    border-bottom: solid rgb(26, 211, 149);
}

#about:hover{
    border-bottom: solid rgb(26, 211, 149);
}

#contact:hover{
    border-bottom: solid rgb(26, 211, 149);
}

#blog:hover{
    border-bottom: solid rgb(26, 211, 149);
}

#careers:hover{
    border-bottom: solid rgb(26, 211, 149);
}

header li:hover {
    color: black;
  }

header #header-logo{
    padding-top: 1.25em;
    float: left;
}

.hamburger{
    display: none;
}

header nav{
    display: flex;
    justify-content: center;
    margin-right: 12.5em;
    padding-top: 1.25em;
    
}

.request-button1{
    cursor: pointer;
    float: right;
    border-radius: 2.5em;
    font-size: 1.25em;
    padding: 0.675em 1.875em;
    color: white;
    background-image: linear-gradient(to right, #2fce67,#2cb9cb);
    border: none;
}


.section1{
    padding: 1.25em;
    height: 41.75em;
    background:url('./images/bg-intro-desktop.svg');
    background-repeat:no-repeat;
    background-size:64%;
    background-position:150% 100%;
    position: relative;
}

.section1 img{
    position:absolute;
    width: 35%;
    top:0;
    right:0;
}

.section1 #section1-text1{
    font-size: 4.375em;
    width:30%;
    color: hsl(233, 26%, 24%);
    padding-top:.575em;
    padding-left: .575em; 
    margin-top: 1.25em;
    margin-left: 1.6em;
}
.section1 #section1-text2{
    width:27%;
    color: hsl(233, 8%, 62%);
    margin-left: 7.9em; 
    margin-top: 2em;
    font-size: 1.25em;
} 



.request-button2{
    cursor: pointer;
    border-radius: 2.5em;
    font-size: 1.25em;
    padding: 0.675em 1.875em;
    color: white;
    background-image: linear-gradient(to right, #2fce67,#2cb9cb);
    border: none;
    margin-left: 7.5em;
    margin-top: 2em;
}


.section2{
    padding-bottom: 8%;
    background-color: #f4f5f7;
}

.section2-text1{
    margin-left: 4.5em;
    padding-top: 3em;    
    font-weight: lighter;
    font-size: 40px;
    border: none;
    color: #3d4258;
}

.section2-text2{
    width:38%;
    margin-left: 9.5%;
    margin-top: 2em;
    margin-bottom: 5em;
    border: none;
    font-weight: lighter;
    font-size: 20px;
    color: gray;
}



#icons{
    margin-top: 20px;
    margin-left: 7%;
    display: flex;
    justify-content: space-around;
}

#icons .icon{
    float: left;
    width: 20%;
    padding:10px;
    text-align: start;
}

.icon-text1{
    padding-top: 10%;
    font-weight: lighter;
    font-size: 25px;
    border: none;
    color: #3d4258;
}

.icon-text2{
    padding-top: 10%;
    font-weight: lighter;
    font-size: 20px;
    border: none;
    color: gray;
}

.mid3{
    margin: 0;
    background-color:white;
}

.mid3-heading{
    margin-left: 9%;
    padding-top: 5%;
    font-weight: lighter;
    font-size: 40px;
    border: none;
    color: #3d4258;
}


#photos{
    margin-top: 50px;
    margin-left: 6.7%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8%;
}

#photos .photo img{
    width: 100%;
    margin: auto;
    height: 42%;
}

#photos .photo{
    float: left;
    width: 19.7%;
    text-align: start;
    background-color:#f4f5f7;
}

.mid3-text1{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    font-weight: lighter;
    font-size: 15px;
    border: none;
    color: gray;
}

.mid3-text2{
    cursor: pointer;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    font-weight: lighter;
    font-size: 25px;
    border: none;
    color:  #3d4258;
}

.mid3-text2:hover {
    color:rgb(26, 211, 149);
  }

.mid3-text3{
    padding-left: 8%;
    padding-right: 8%;
    width: 90%;
    padding-top: 5%;
    font-weight: lighter;
    font-size: 18px;
    border: none;
    color:gray;
    margin-bottom: 10%;
}



footer{
    background:hsl(233, 26%, 24%);
    min-height: 200px;
    color: hsl(220, 16%, 96%) ;
}
.footer-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 60px;
}

#bottom-logo{
    width:90%;
    margin-left:5%;
    padding-bottom: 30%;
}

.footer-icons{
    margin-left:100px;
}

.social-media-icons{
    display:flex;
    justify-content:space-between;
}
.social-media-icons div{
    padding:8px;
}
.social-media-icons svg a{
    padding: 20%;
}

.social-media-icons svg :hover{
    fill:rgb(26, 211, 149);
    transition:0.4s;
}
.contact-us{
    display:flex;
    flex-direction: column;
}

.contact-us div{
    padding: 10px;
}

.contact-us a{
    color: hsl(220, 16%, 96%);
    text-decoration: none;
}

.contact-us a:hover{
    color:rgb(54, 230, 171);
    transition:0.4s;
}

#second-contact-us{
    margin-right:10%;
}

#copyright-container{
    display:flex;
    flex-direction: column;
    margin-right: 10%;
}

#copyright-container button{
    align-self: flex-end;
}

#copyright-text{
    margin-top:20%;
}

.button-footer{
    float: right;
    border-radius: 40px;
    font-size: 20px;
    padding: 8px 30px;
    color: white;
    background-image: linear-gradient(to right, #2fce67,#2cb9cb);
    border: none;
    height: 50px;
}



@media screen and (min-width: 300px) and (max-width:1000px){


    
    body{   
        font-family: 'Public Sans', sans-serif;
        margin: 0;
        padding: 0;
        float:none;
        text-align: center;
        width: 100%;
    }

    header{
        float:none;
        text-align: center;
        width: 100%;
    }

    .header-container{
        width: 100%;
        margin: 0;
        overflow: hidden;
        
    }
    
    
    header ul{
        margin: 0;
        padding: 0;
        background-color:white;
        display: none;
        justify-content: space-between;
        flex-direction: column;
        position:fixed; top:14%; left:8%;
        z-index: 9;
        width: 80%;
        height: 30%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 4%;
        box-shadow: 0 0 20px black;
    }

    header ul.active {
        display: flex;
    }
    
    header li{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        display: inline;
        color: black;
        width: 100%;
    }

    .request-button1{
        display: none;
    }

    header #header-logo{
        padding-top: 20px;
        float: left;
    }

    .hamburger{
        display: block;
        float: right;
        padding-top: 6%;
    }

    .hamburger img{
        width: 155%;
    }

    header #header-logo img{
        margin-left: 2em;
        padding-bottom: 20%;
    }
    .header-container{
        margin: 0%;
        padding-left: 4%;
        margin-right: 0%;
        width: 88%;
    }

    .section1{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-image:url('./images/image-mockups.png'),url('./images/bg-intro-mobile.svg');
        background-repeat:no-repeat,no-repeat;
        background-size:96%,100%;;
        background-position:100% -150px,100% 0;
        height: 45%;
    }
  
    .section1 img{
        display:none;
    }     
    
    .section1 #section1-text1{
        font-size: 2rem;
        width:100%;
        color: hsl(233, 26%, 24%);
        padding-top:20px;
        margin-top: 100%;
        text-align: center;
        padding-left: 0;
        margin-left: 0;
    }

    .section1 #section1-text2{
        width:80%;
        padding-top: 10%;
        color: hsl(233, 8%, 62%);
        margin: 0;
        padding-left: 0;
        margin-left: 0;
    } 
  
    .request-button2{
        margin-top: 10% ;
        margin-bottom: 90px;
    }


    .section1 img{
        position:absolute;
        width: 35%;
        top:0;
        right:0;
        }

    #photos{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 7%;
    }

    #photos .photo{
        padding-right: 20%;
        padding:0;
        width: 92%;
    }

    #photos .photo img{
        width: 100%;
        height: 47%;
    }

    #icons{
        display: flex;
        flex-direction: column;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-icons{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding:0;
        margin:0;
        padding-bottom: 10%;
        
    }
    #bottom-logo{
        
        margin-right: 50px;
        padding-bottom: 10%;
    }

    .social-media-icons{
        width:100%;
        padding:0;
        margin: 0;
    }

    #second-contact-us{
        margin-left:12%;
        padding-bottom: 20%;
    }

    #copyright-text{
        margin-top:20%;
        font-size: 14px;
        margin-left: 20px;
    }

    .mid3-text1{
        font-size: 10px;
        
    }
    
    .mid3-text2{
        font-size: 18px;
        
    }

    .mid3-text3{
        font-size: 14px;
        
    }

    .mid3-heading{
        padding-top: 20%;
        padding-bottom: 20%;
        padding-right: 10%;
    }

    #icons{
        padding: 0%;
        margin: 0%;
        display: flex;
        justify-content: center;
    }
    
    #icons .icon{
        float: none;
        width: 20%;
        padding-left:10%;
        text-align: center;
        width: 80%;
    }
    
    .icon-text1{
        padding-top: 10%;
        font-weight: lighter;
        font-size: 25px;
        border: none;
        color: #3d4258;
    }
    
    .icon-text2{
        padding-top: 10%;
        font-weight: lighter;
        font-size: 17px;
        border: none;
        color: gray;
        padding-bottom: 10%;
    }
    

    .section2-text1{
        margin:0%;
        width: 60%;
        padding-bottom: 5%;
        padding-left: 19%;
        font-weight: lighter;
        font-size: 30px;
        border: none;
        color: #3d4258;
    }

    .request-button2{
        cursor: pointer;
        margin-left: 0;
        margin-bottom: 20%;
        float: none;
        border-radius: 40px;
        font-size: 15px;
        padding: 8px 30px;
        color: white;
        background-image: linear-gradient(to right, #2fce67,#2cb9cb);
        border: none;
        height: 40px;
    }

    .section2-text1{
        margin:0%;
        width: 58%;
        padding-left: 18%;
        font-weight: lighter;
        font-size: 30px;
        border: none;
        color: #3d4258;
    }
    
    .section2-text2{
        margin:0%;
        width: 80%;
        padding-left: 8%;
        font-weight: lighter;
        font-size: 16px;
        color: gray;
    }
    
    
}

